body{
    width:400px;
    padding:15px;
    font-family:Arial;
}

button{
    width:100%;
    padding:12px;
    font-size:14px;
    cursor:pointer;
}

#results{
    margin-top:15px;
    white-space:pre-wrap;
    font-size:13px;
}